<footer class="site-footer">

  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">We want to set freelancers free. Not free as in not having to pay for, but free as in unchained. Allowing them to earn their worth without recruiters trying to chew off their rates.</p>
      </div>
      <div class="col-xs-6 col-md-3">
        <h6>Company</h6>
        <ul class="footer-links">
          <li><%= link_to 'About us', about_path %></li>
          <li><%= link_to 'Contact', contact_path %></li>
          <li><%= link_to 'Blogs', blogs_path %></li>
          <li><%= link_to 'Terms and conditions', faq_path %></li>
          <li><%= link_to 'FAQ', faq_path %></li>
        </ul>
      </div>

    <hr>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyrights &copy; 2016 All Rights Reserved by NAME_HERE</p>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>

</footer>
